APP_NAME="Autoevaluación ITST"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_DRIVER=sqlite
DB_PATH=storage/db/autoevaluacion.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=autoevaluacion
DB_USERNAME=root
DB_PASSWORD=

DOCENTE_DEFAULT_USER=admin
DOCENTE_DEFAULT_PASSWORD=admin123
